<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.developer.index-refresh</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>@HOME@/Developer/scripts/knowledge-refresh/refresh-knowledge-indexes.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>@HOME@/Developer</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>@HOME@/Developer/.knowledge-refresh/launchd-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>@HOME@/Developer/.knowledge-refresh/launchd-stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>@HOME@/.npm-global/bin:@HOME@/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>@HOME@</string>
    </dict>
</dict>
</plist>
